{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <h1>Ajouter une formation</h1>

    {{ include('training/_form.html.twig') }}

    <a href="{{ path('training_index') }}">retour à la liste</a>
{% endblock %}
